<!DOCTYPE html>
<html>
<head>
  <title>Oops!</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/starfish.png">
</head>
  <body>
    <h1 style="padding: 40px 0 0 25%;">Oh no! Something went wrong!</h1>

    <img alt="There's a banana in my coffee." src="../images/banana-coffee.png" style="padding: 40px 0 0 50%;"/>
  </body>
</html>
